@{
    ViewData["Title"] = "Подтверждение нового пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль изменён. Для входа в приложение перейдите по <a asp-controller="ChangeDate" asp-action="Login">ссылке</a>.
</p>
