@model IEnumerable<CatalogFilms.Models.Film>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-controller="Films" asp-action="Create">Create New</a>
        </p>
    }

    

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a asp-controller="Films" asp-action="Details" asp-route-id="@item.Id_Film">
                <img style='width:240px; height:375px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Poster))" />
                <p align="left">@item.Name</p>
            </a>
        </div>
    }
    </div>
    
</body>
</html>